*
!/**/
!*.*
.vscode/*
exp/**
_deps/**
ccd-targets.cmake
cmake_install.cmake
CMakeFiles/**
CMakeCache.txt
compile_commands.json
lib/**
cmake/tmp-cxx-standard.cpp
pinocchio.pc
MUJOCO_LOG.TXT
mujoco_samples.pc
