!/**/
!*.*
.vscode/*
exp/**
_deps/**
ccd-targets.cmake
cmake_install.cmake
CMakeFiles/**
CMakeCache.txt
compile_commands.json
lib/**
cmake/tmp-cxx-standard.cpp
pinocchio.pc
MUJOCO_LOG.TXT
mujoco_samples.pc
bin/**
Makefile
model_output/**
model_output2/**
model_output3/**
model_output4/**
experiment_data/*
experiment_data_backup/*
